@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  font-weight: 500;
  @apply text-dark;
}

h1, h2, h3, h4, h5, h6, .titleFont, .title {
  font-weight: 700 !important;
}

.title { 
  @apply text-[2rem] xs:text-[2.5rem] s:text-[3rem] m:text-[3.5rem] l:text-[4rem];
}
h1 { font-size: 2rem !important; }
h2 { font-size: 1.741rem !important; }
h3 { font-size: 1.516rem !important; }
h4 { font-size: 1.320rem !important; }
h5 { font-size: 1.149rem !important; }
h6 { font-size: 1.0rem !important; }

@layer utilities {
  /* Firefox */
  * {
      scrollbar-width: thin;
      scrollbar-color: #253674 transparent;
  }
  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
      width: 7px;
  }
  *::-webkit-scrollbar-track {
      background: transparent;
      border-radius: 5px;
  }
  *::-webkit-scrollbar-thumb {
      background-color: #253674;
      border-radius: 14px;
      border: 3px solid transparent;
  }
}

.content {
  @apply w-[90%] max-w-[90%] lg:w-[85%] xl:w-[80%] xl:max-w-[80%] mx-auto;
}

.my-shadow {
 /* box-shadow: rgba(14, 25, 78, 0.2) 0px 12px 28px 0px, rgba(14, 25, 78, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  box-shadow: rgba(14, 25, 78, 0.15) 0px 15px 25px, rgba(14, 25, 78, 0.05) 0px 5px 10px;*/
  box-shadow: rgba(14, 25, 78, 0.1) 0px 4px 16px, rgba(14, 25, 78, 0.1) 0px 8px 24px, rgba(14, 25, 78, 0.1) 0px 16px 56px;
}

button, a, .smooth-show {
  transition: 0.5s;
  cursor: pointer;
}

button {
  @apply bg-dark text-white px-4 py-2 rounded-full hover:bg-lime hover:text-dark hover:font-semibold;
}

/*Nav animations
--------------------------------------------------*/

.animated-underline {
  display: inline-block;
  text-decoration: none;
}

.animated-underline::after {
  display: block;
  content: '';
  @apply border-b-2 border-lime;
  border-radius: 5px;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.animated-underline:hover::after {
  transform: scaleX(1);
}


/* Hamburger Menu */

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 3px;
  background: black;
  transform: rotate(0);
  transition: all 0.5s;
  border-radius: 5px;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}